HTTP_SCHEME = https
BASE_URL = kanguro-api-develop.azurewebsites.net/api/
API_KEY = K13XOSJ6XVP$QQFKjuP#
GET_QUOTE = kanguro-web-develop.azurewebsites.net/select-product
GET_PET_QUOTE = kanguro-pet-web-develop.azurewebsites.net/quote
GET_RENTERS_QUOTE = kanguro-renters-web-develop.azurewebsites.net/quote/account-info
BLOG = kanguro-web-develop.azurewebsites.net/blog
REFER_FRIENDS_TERM_SERVICE = kanguro-pet-web-develop.azurewebsites.net/refer-policy
PRIVACY_POLICY = kanguro-pet-web-develop.azurewebsites.net/privacy-policy
ENVIRONMENT = dev
CLOUD_INSURANCE_ENVIRONMENT = sandbox
COMPATIBLE_BACKEND_VERSION = 7
CURRENT_PROJECT_VERSION = 1
MARKETING_VERSION = 2.1.11
PROVISIONING_PROFILE_SPECIFIER = match AppStore com.alpha.kanguro
SENTRY_ENV = develop
SENTRY_DSN = https:/$()/0ae30ca3d3c23af17f6d0acb724e5d41@o4506757043453952.ingest.us.sentry.io/4506797260537856
AIRVET_PARTNER_ID = 7205b254-bb97-4279-9df2-7e908cc884b4
AIRVET_URL = stg.join.airvet.com/kanguro
