HTTP_SCHEME = https
BASE_URL = kanguro-api.azurewebsites.net/api/
API_KEY = cxXI7HGm1SC9%U*2*eXu
GET_QUOTE = kanguroseguro.com/select-product
GET_PET_QUOTE = pet.kanguroseguro.com/quote
GET_RENTERS_QUOTE = renters.kanguroseguro.com/quote/account-info
BLOG = kanguroseguro.com/blog
REFER_FRIENDS_TERM_SERVICE = kanguroseguro.com/refer-policy
PRIVACY_POLICY = kanguroseguro.com/privacy-policy
ENVIRONMENT = prod
CLOUD_INSURANCE_ENVIRONMENT = production
COMPATIBLE_BACKEND_VERSION = 7
CURRENT_PROJECT_VERSION = 1
MARKETING_VERSION = 2.1.11
SENTRY_ENV = production
SENTRY_DSN = https:/$()/0ae30ca3d3c23af17f6d0acb724e5d41@o4506757043453952.ingest.us.sentry.io/4506797260537856
AIRVET_PARTNER_ID = 7205b254-bb97-4279-9df2-7e908cc884b4
AIRVET_URL = join.airvet.com/kanguro
