HTTP_SCHEME = https
BASE_URL = kanguro-api-staging.azurewebsites.net/api/
API_KEY = 4fNWBr6TFAvdAoghT2cP
GET_QUOTE = staging.kanguroseguro.com/select-product
GET_PET_QUOTE = pet.staging.kanguroseguro.com/quote
GET_RENTERS_QUOTE = renters.staging.kanguroseguro.com/quote/account-info
BLOG = pet.staging.kanguroseguro.com/blog
REFER_FRIENDS_TERM_SERVICE = pet.staging.kanguroseguro.com/refer-policy
PRIVACY_POLICY = pet.staging.kanguroseguro.com/privacy-policy
ENVIRONMENT = stage
CLOUD_INSURANCE_ENVIRONMENT = stage
COMPATIBLE_BACKEND_VERSION = 7
CURRENT_PROJECT_VERSION = 1
MARKETING_VERSION = 2.1.11
PROVISIONING_PROFILE_SPECIFIER = match AppStore com.beta.kanguro
SENTRY_ENV = staging
SENTRY_DSN = https:/$()/0ae30ca3d3c23af17f6d0acb724e5d41@o4506757043453952.ingest.us.sentry.io/4506797260537856
AIRVET_PARTNER_ID = 7205b254-bb97-4279-9df2-7e908cc884b4
AIRVET_URL = stg.join.airvet.com/kanguro
